@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato&family=Poppins:wght@100;400;500;700;800&display=swap');

body {
    background-color: #0B1D26;
}

.content-home {
    background-image: url(../img/Home/homeBackground.png);
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

.conteudo {
    height: 100vh;
}

.logo {
    font-family: 'Julius Sans One', sans-serif;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: calc(3rem + 3.3vw);
}

@media (min-width: 1200px) {
    .titulo {
        font-size: 10rem;
        line-height: 129px;
    }
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    color: #FBD784;
    letter-spacing: 6px;
}

.textPeq {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.tituloDescricao {
    font-family: Poppins;
    font-weight: 250;
}

.travessao {
    width: 72px;
    height: 2px;
    background: #FBD784;

}

.amarelo {
    background-color: #FBD784;
}

/*vida-noturna*/
.content-vida-noturna {
    background-image: url(../img/VidaNoturna/pexels-kai-pilger-534757.png);
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

.estabelecimentos {
    font-family: 'Lato', sans-serif;
    font-size: calc(3rem + 5vw);
    margin-top: -1rem;
}

.white {
    margin-top: -50px;
    padding: 0 0 50px 0;
    background-color: #ffffff;
}

.cards {
    width: 70%;
    margin: 0 15% 0 15%;
}

/*vida-noturna*/
.content-sobre {
    background-image: url(../img/sobre/back.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.star {
    max-width: 3rem;
    height: auto;
    margin: 2px;
}

.group-card {
    margin: -3rem 0 0 0;
    border: none;
}